<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="row">
        <div class="col-xs-4">
            <div class="container-fluid">
                <a href="#/user/{{model.uid}}/website" class="navbar-text pull-left ">
                    <span class="glyphicon glyphicon-chevron-left bt-light-color" aria-hidden="true"></span>
                </a>
                <a href="#/user/{{model.uid}}/website/new" class="navbar-text pull-right">
                    <span class="glyphicon glyphicon glyphicon-plus bt-light-color" aria-hidden="true"></span>
                </a>
                <a class="navbar-brand ">
                    Websites
                </a>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="container-fluid ">
                <a href="#/user/{{model.uid}}/website" class="navbar-text pull-left  side-orientation">
                    <span class="glyphicon glyphicon-chevron-left bt-light-color" aria-hidden="true"></span>
                </a>
                <a ng-click="model.createNew()" class="navbar-text pull-right ">
                    <span class="glyphicon glyphicon glyphicon-ok bt-light-color" aria-hidden="true"></span>
                </a>
                <a class="navbar-brand">
                    New Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="list-group col-4-body">
                <ul class="list-group">
                    <li ng-repeat="website in model.websites" class="list-group-item no-border">
                        <a class="no-underline-links" href="#/user/{{website.developerId}}/website/{{website._id}}/page">{{website.name}}</a>
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="col-xs-8">
            <div class="container-fluid col-8-body">
                <form>
                    <div class="form-group">
                        <label for="website-name">Name</label>
                        <input ng-model="model.websiteName" type="text" class="form-control" id="website-name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="website-description">Description</label>
                        <textarea ng-model="model.websiteDesc" id="website-description" class="form-control" rows="5" placeholder="Description"></textarea>
                    </div>
                </form>
                <div ng-show="model.errorText" class="alert alert-danger padded-alert" role="alert">{{model.errorText}}</div>
            </div>
        </div>
    </div>
</div>



<!-- <h1>Profile</h1> -->

        <!-- <form> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="username">Username</label> -->
        <!--         <input type="text" class="form-control" id="username" placeholder="Username"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="email">Email address</label> -->
        <!--         <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="first-name">First Name</label> -->
        <!--         <input type="text" class="form-control" id="first-name" placeholder="Alice"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="last-name">Last Name</label> -->
        <!--         <input type="text" class="form-control" id="last-name" placeholder="Wonderland"> -->
        <!--     </div> -->
        <!-- </form> -->

        <!-- <a class="btn btn-primary btn-block" -->
        <!--    href="website-list.html">Websites</a> -->
        <!-- <a class="btn btn-danger  btn-block" -->
        <!--    href="login.html">Logout</a> -->

<nav class="navbar navbar-default navbar-fixed-bottom">
	<a href="#/user/{{model.uid}}" class="pull-right navbar-link">
                    <span class="glyphicon glyphicon-user bt-light-color"></span>
                </a>
</nav>
