	<nav class="navbar navbar-default-inv navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-text pull-left">
				<a href="../user/profile.html" class="navbar-link bt-light-color l-r-padding-twenty">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				</p>
				<a class="navbar-brand">
					New Page
				</a>
			</div>
			<p class="navbar-text pull-right">
			<a href="page-list.html" class="navbar-link bt-light-color l-r-padding-twenty">
				<span class="glyphicon glyphicon-ok">
				</span>
			</a>
			</p>
		</div>
	</nav>

<div class="container padded-top">
    <form>
        <div class="form-group">
            <label for="new-page-name">Name</label>
            <input type="text" class="form-control" id="new-page-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="new-page-title">Title</label>
            <input type="text" class="form-control" id="new-page-title" placeholder="Title">
        </div>
    </form>
</div>

        <!-- <h1>Profile</h1> -->

        <!-- <form> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="username">Username</label> -->
        <!--         <input type="text" class="form-control" id="username" placeholder="Username"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="email">Email address</label> -->
        <!--         <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="first-name">First Name</label> -->
        <!--         <input type="text" class="form-control" id="first-name" placeholder="Alice"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="last-name">Last Name</label> -->
        <!--         <input type="text" class="form-control" id="last-name" placeholder="Wonderland"> -->
        <!--     </div> -->
        <!-- </form> -->

        <!-- <a class="btn btn-primary btn-block" -->
        <!--    href="website-list.html">Websites</a> -->
        <!-- <a class="btn btn-danger  btn-block" -->
        <!--    href="login.html">Logout</a> -->

<nav class="navbar navbar-default-inv navbar-fixed-bottom">
                <a href="../user/profile.html" class="pull-right navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
</nav>
