<nav class="navbar navbar-default-inv navbar-fixed-top">
	<div class="row">
		<div class="col-xs-4">
			<div class="container-fluid">
				<a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-text pull-left bt-light-color">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-text pull-right bt-light-color">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</a>
				<a class="navbar-brand">
					Pages
				</a>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="container-fluid">
				<a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-text pull-left side-orientation">
					<span class="glyphicon glyphicon-chevron-left bt-light-color" aria-hidden="true"></span>
				</a>
				<a ng-click="model.createPage()" class="navbar-text pull-right">
					<span class="glyphicon glyphicon glyphicon-ok bt-light-color" aria-hidden="true"></span>
				</a>
				<a class="navbar-brand">
					New Page
				</a>
			</div>
		</div>
	</div>
</nav>

<div class="container padded-top">
    <form>
        <div class="form-group">
            <label for="new-page-name">Name</label>
            <input type="text" class="form-control" id="new-page-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="new-page-title">Title</label>
            <input type="text" class="form-control" id="new-page-title" placeholder="Title">
        </div>
    </form>
</div>

        <!-- <h1>Profile</h1> -->

        <!-- <form> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="username">Username</label> -->
        <!--         <input type="text" class="form-control" id="username" placeholder="Username"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="email">Email address</label> -->
        <!--         <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="first-name">First Name</label> -->
        <!--         <input type="text" class="form-control" id="first-name" placeholder="Alice"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="last-name">Last Name</label> -->
        <!--         <input type="text" class="form-control" id="last-name" placeholder="Wonderland"> -->
        <!--     </div> -->
        <!-- </form> -->

        <!-- <a class="btn btn-primary btn-block" -->
        <!--    href="website-list.html">Websites</a> -->
        <!-- <a class="btn btn-danger  btn-block" -->
        <!--    href="login.html">Logout</a> -->

<nav class="navbar navbar-default-inv navbar-fixed-bottom">
	<a href="#/user/{{model.uid}}" class="pull-right navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
</nav>
