	<nav class="navbar navbar-default-inv navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-text pull-left">
				<a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link bt-light-color l-r-padding-twenty">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				</p>
				<a class="navbar-brand">
					Choose Widget
				</a>
			</div>
		</div>
	</nav>

<div class="container padded-top adjusted-li">
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item no-border">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADING" class="no-underline-links">Heading</a>
            </li>
            <li class="list-group-item no-border">
            <a ng-click="model.futureFeature()" class="no-underline-links">Label</a>
            </li>
						<li class="list-group-item no-border">
							<a ng-click="model.futureFeature()" class="no-underline-links">HTML</a>
						</li>
						<li class="list-group-item no-border">
							<a ng-click="model.futureFeature()" class="no-underline-links">Text Input</a>
						</li>
						<li class="list-group-item no-border">
							<a ng-click="model.futureFeature()" class="no-underline-links">Link</a>
						</li>
						<li class="list-group-item no-border">
							<a ng-click="model.futureFeature()" class="no-underline-links">Button</a>
						</li>
						<!-- <li class="list-group-item no-border"> -->
            <!-- <a href="widget-youtube.html" class="no-underline-links">Youtube</a> -->
            <!-- </li> -->
        </ul>
				<div ng-show="model.featureMissingAlert" class="alert alert-info" role="alert">{{model.featureMissingAlert}}</div>
    </div>
</div>

        <!-- <h1>Profile</h1> -->

        <!-- <form> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="username">Username</label> -->
        <!--         <input type="text" class="form-control" id="username" placeholder="Username"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="email">Email address</label> -->
        <!--         <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="first-name">First Name</label> -->
        <!--         <input type="text" class="form-control" id="first-name" placeholder="Alice"> -->
        <!--     </div> -->
        <!--     <div class="form-group"> -->
        <!--         <label for="last-name">Last Name</label> -->
        <!--         <input type="text" class="form-control" id="last-name" placeholder="Wonderland"> -->
        <!--     </div> -->
        <!-- </form> -->

        <!-- <a class="btn btn-primary btn-block" -->
        <!--    href="website-list.html">Websites</a> -->
        <!-- <a class="btn btn-danger  btn-block" -->
        <!--    href="login.html">Logout</a> -->


<nav class="navbar navbar-default-inv navbar-fixed-bottom">
	<a href="#/user/{{model.uid}}" class="pull-right navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
</nav>
