<nav class="navbar  navbar-fixed-top">
	<div class="container-fluid">
		<p class="navbar-text pull-right">
		<a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link  l-r-padding-twenty">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		</p>
		<div class="navbar-header">
			<p class="navbar-text pull-left">
			<a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link  l-r-padding-twenty">
				<span class="glyphicon glyphicon-chevron-left">
				</span>
			</a>
			</p>
			<a class="navbar-brand">
				Widgets
			</a>
		</div>
	</div>
</nav>

<div ng-repeat="widget in model.widgets" ng-switch="widget.widgetType" class="container-fluid padded-widget-list">
    <div ng-switch-when="HEADING">
        <ng-include src="'/views/widget/widget-heading.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'/views/widget/widget-image.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'/views/widget/widget-youtube.view.client.html'">
    </div>
</div>
<div class="padded-widget-list-nav"></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
      	<a href="#/user/{{model.uid}}" class="pull-right navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
</nav>

<!--<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="l-r-padding-twenty text-right pull-right">
                <a href="../user/profile.html">
                    <span class="glyphicon glyphicon-user "></span>
                </a>
            </div>
            </div>
    </div>
</nav>-->
