<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid row">
		<div class="navbar-text pull-left">
			<a href="#!/website/{{model.websiteId}}/page">
				<span class="glyphicon glyphicon-chevron-left">
				</span>
			</a>
		</div>
		<div class="navbar-text pull-right">
			<a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
				<span class="glyphicon glyphicon-plus">
				</span>
			</a>
		</div>
		<a class="navbar-brand">
			Widgets
		</a>
	</div>
</nav>

<div jga-sortable class="container-fluid">
	<div ng-repeat="widget in model.widgets" class="widget-adj">
		<div>
			<a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
				<span class="glyphicon glyphicon-cog pull-right widget-handle"></span>
			</a>
			<span class="glyphicon glyphicon-align-justify pull-right widget-handle"></span>
		</div>
		<div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>
	</div>
</div>

<!-- <div ng-include="'../footer/footer.view.client.html'"></div> -->
<nav class="navbar navbar-fixed-bottom">
	<div class="container-fuild">
		<a href="#!/profile" class="navbar-link navbar-text pull-right">
			<span class="glyphicon glyphicon-user"></span>
		</a>
	</div>
</nav>